<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="crad-header">
        <H1> Registrese </H1>
      </div>
      <div class="crad-body">
        <form (submit) = "registro()">
          <div class="form-group">
            <input type="text" [(ngModel)]="user.fullname" name="fullname" class="form-control" placeholder="Nombre" required autofocus>
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="user.functions" name="functions" class="form-control" placeholder="Funcion">
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Registrar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>